<ion-view title="LAB 5" nav-transition="none" id="page2">
    <ion-content padding="true" style="background: url(img/iPhone-6-wallpaper-HD-iOS8-theme-6.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="lAB5-button-bar1" class="button-bar">
            <button id="lAB5-button1" style="font-weight:500;font-size:15px;border-radius:65px 65px 65px 65px;" class="button button-balanced button-large button-block icon ion-android-home"></button>
            <a ui-sref="login" id="lAB5-button2" style="font-weight:600;font-size:306px;border-radius:52px 52px 52px 52px;" class="button button-balanced button-large button-block icon ion-ios-person"></a>
            <a ui-sref="sIGNUP" id="lAB5-button3" style="font-weight:600;border-radius:43px 43px 43px 43px;" class="button button-balanced button-large button-block icon ion-android-person-add"></a>
        </div>
        <h1 id="lAB5-heading2" style="color:#56E1E7;font-weight:600;">Company Logo Search App</h1>
        <h id="lAB5-heading3" style="color:#B0DB40;font-weight:lighter;">Switch Tabs to Login and Register</h>
    </ion-content>
</ion-view>
