<ion-view title="Page" id="page9">
  <ion-content padding="true" style="background: url(img/iPhone-6-wallpaper-HD-iOS8-theme-6.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="page-form13" class="list">
      <label class="item item-input" name="umkc.edu">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Type Company Domain Name" ng-model="qinp">
      </label>
      <button id="page-button11" style="font-weight:600;color:#2436B9;font-size:13px;border-radius:85px 85px 85px 85px;" class="button button-balanced button-small button-block icon ion-search" ng-click="squery()">Logo with info</button>
    </form>
    <div class="list card" id="page-card21">
      <div class=" item item-image">
        <img src="img/9d231e2d5329a0a13d6fa8c8f85c16f7_a53340687a802407a4b143777a2ffa2da6cdf379c47c1b3bee59bc107a06fa98" width="" height="100" style="display: block; margin-left: auto;">
      </div>
    </div>
    <div class="item item-body" id="page-list-item-container3">
      <div class="item item-body" id="page-list-item-container2">
        <div id="page-markdown2" style="margin-top:0px;color:#000000;font-size:34px;">
          <p style="font-weight:600;color:#2436B9;"> Sentiment For Logo: <strong> Surprise: 0.2071775132225946431 </strong>
</p>
</div>
</div>
<div id="page-markdown3" style="margin-top:0px;color:#1ECB61;">
<p>
<strong>NAME:</strong>University of Missouri Kansas City
<strong>CATEGORY:</strong>EDUCATION
<br>
<strong>WEBSITE:</strong>http://umkc.edu
<br>
<strong>FOUNDED</strong>: 1933
<br>
<strong>SERVICES</strong>: "Arts &amp; Sciences"</p>
</div>
</div>
</ion-content>
</ion-view>
