<ion-view title="SIGN UP" id="page8">
    <ion-content padding="true" style="background: url(img/iPhone-6-wallpaper-HD-iOS8-theme-6.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="sIGNUP-form9" class="list">
            <div id="sIGNUP-button-bar4" class="button-bar">
                <a ui-sref="lAB5" id="sIGNUP-button16" style="font-weight:600;border-radius:41px 41px 41px 41px;" class="button button-balanced  button-block icon ion-android-home"></a>
                <a ui-sref="login" id="sIGNUP-button17" style="font-weight:600;border-radius:147px 147px 147px 147px;" class="button button-balanced  button-block icon ion-android-person"></a>
                <button id="sIGNUP-button18" style="font-weight:600;border-radius:103px 103px 103px 103px;" class="button button-balanced  icon ion-android-person-add"></button>
            </div>
            <div class="spacer" style="height: 40px;"></div>
            <label class="item item-input" id="sIGNUP-input15">
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input" id="sIGNUP-input16">
                <input type="text" placeholder="Email" ng-model="email">
            </label>
            <label class="item item-input" id="sIGNUP-input17">
                <input type="text" placeholder="Password" ng-model="paswrd">
            </label>
            <label class="item item-input" id="sIGNUP-input18">
                <input type="text" placeholder="Confirm">
            </label>
        </form>
        <a ng-click="sup(paswrd,email)" id="sIGNUP-button10" style="font-weight:600;" class="button button-assertive  button-block">Sign Up</a>
    </ion-content>
</ion-view>
