<ion-view style="background-color:black" id="page7" title="Play with words" xmlns="http://www.w3.org/1999/html">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-happy-outline"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="false" ng-init="goLevel()" style="background: url(img/bk.png) no-repeat center;background-size:cover;">
<br/>
    <div align="center">
    <img src="img/kidsplay.jpg" align="center" width="250px"; height="200px" ng-click="goWord()">
    <p style="color: white"><b><i>Click on image to enter into kids zone...!!!!</i></b></p>
    <br/>
    <img src="img/adultplay.jpg" align="center" width="250px"; height="200px" ng-click="goWordAdult()">
      <p style="color: white"><b><i>Click on image to enter into adult zone...!!!!</i></b></p>
    </div>
  </ion-content>
</ion-view>
