<ion-view style="background-color:black" id="page77" title="Play with Words" xmlns="http://www.w3.org/1999/html">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-happy-outline"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="false" ng-init="goWord()">

    <table style="background-color: black">
      <tr>
      <tr>
        <div>
          <div class="item item-image">
            <img src="img/vocabwords.jpg" height="280px">
          </div>
        </div>
      </tr>
      </tr>
    </table>

    <div class="list card">
      <div class="item item-thumbnail-right" align="center">
        <img src="img/steps.jpg">
        <h1><img src="https://maxcdn.icons8.com/Color/PNG/24/Media_Controls/play-24.png" title="Play" width="30"
                 ng-click="goLevelAdult1()">Level 1</h1>

      </div>
    </div>

    <div class="list card" align="right">
      <div class="item item-thumbnail-right" align="right">
        <img src="img/steps.jpg">
        <h1><img src="https://maxcdn.icons8.com/Color/PNG/24/Media_Controls/play-24.png" title="Play" width="30"
                 ng-click="goLevelAdult1()">Level 2</h1>
      </div>
    </div>
    <div class="list card" align="right">
      <div class="item item-thumbnail-right" align="right">
        <img src="img/steps.jpg">
        <h1><img src="https://maxcdn.icons8.com/Color/PNG/24/Media_Controls/play-24.png" title="Play" width="30"
                 ng-click="goLevelAdult1()">Level 3</h1>
      </div>
    </div>

  </ion-content>
</ion-view>
