<ion-view style="background-color:black" id="page98" title="Level 2" xmlns="http://www.w3.org/1999/html">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-home"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="false" ng-init="golevel1()" style="background-color: lightgoldenrodyellow">
    <br/>
    <div align="center">
      <img src="img/apple.jpg" align="center" width="300px"  height="250px">
      <br/><br/>
      <input type="text" id="word" name="word" class="input-b"  placeholder="Find the image....." ng-click="goCheck(word)">
    </div>
  </ion-content>
</ion-view>
