body {
    background-image:url(http://cdn.wallpapersafari.com/40/14/Gutken.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.navbar-nav li button {
    margin-top: 8px;
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-brand img {
    height: 40px
}

.navbar-header {
    padding-left: 50px;
}

.navbar-right {
    padding-right: 50px;
}
