<ion-view style="background-color:black" id="page7" title="Play with words" xmlns="http://www.w3.org/1999/html">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-happy-outline"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="false" ng-init="goLevel()">
    <div class="list card" style="background-image: url(img/bg.jpg)">
      <br/>
      <div class="item item-avatar" align="center">
        <img src="img/steps.jpg" ng-click="goWord()">
        <h2>Kids Zone</h2>
      </div>
    </div>
    <div class="list card" align="right" style="background-image: url(img/bg.jpg)">
      <div class="item item-avatar" align="right">
        <img src="img/steps.jpg" ng-click="goWord()">
        <h2>Adults Zone</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
