<ion-view title="LOGIN" id="page10">
  <ion-content padding="true" style="background: url(img/JrYaqAiARmS1Lr3OYTBM_sea.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="lOGIN-form10" class="list">
      <ion-list id="lOGIN-list1">
        <label class="item item-input" id="lOGIN-input11">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input" id="lOGIN-input12">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <a ui-sref="tabsController.home" id="lOGIN-button12" style="font-weight:500;font-size:30px;border-radius:18px 18px 18px 18px;" class="button button-balanced  button-block">Log In</a>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <button id="lOGIN-button15" style="font-weight:600;font-size:53px;border-radius:64px 64px 64px 64px;" class="button button-positive  button-block icon ion-social-facebook" ng-click="facebookLogin()"></button>
      <button id="lOGIN-button16" style="font-weight:600;border-radius:50px 50px 50px 50px;" class="button button-assertive  button-block icon ion-social-googleplus" ng-click="LoginGoogle()"></button>
      <div class="list card" id="lOGIN-card22"></div>
    </form>
  </ion-content>
</ion-view>
